{% extends 'base.html.twig' %}

{% block content %}
    <form id="search-form" action="" method="POST">
        <div>
            <label for="plateforme">Plateforme</label>
            <select name="plateforme">
                <option value="Youtube">Youtube</option>
                <option value="Instagram">Instagram</option>
                <option value="Tiktok">TikTok</option>
                <option value="Snapchat">Snapchat</option>
                <option value="Twitter">Twitter</option>
            </select>
        </div>
        <div>
            <label for="key-word">Mot-clés</label>
            <input class="key-word" type="text" name="key-word"/>
        </div>
        <div>
            <label id="period" for="start">Période de recherche</label>
            <input class="date" type="date" name="start"/>
        </div>
        <div>
            <label for="end"></label>
            <input class="date" type="date" name="end"/>
        </div>
        <div>
            <p class="cible" >Cibles</p>
            <input class="fake" type="text" value="Produits">
        </div>
        <div>
            <p class="cible"></p>
            <input class="fake" type="text" value="Marques">
        </div>
        <div>
            <p></p>
            <div>
                <p class="ajout-cible">Ajouter une cible</p>
                <img src="{{ asset('build/images/plusCosmoPredict.svg') }}">
            </div>
        </div>
    </form>
    <button form="search-form">Search</button>
{% endblock %}
